/* this is how you import a google font of any external font in a css file. This is essentially importing another style sheet into this style sheet */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


/* Global Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
    /* This is how we get a full size fixed centered imaged BG  */
    background: url('../img/bg.jpg') no-repeat center center fixed;
    background-size: cover;
}
/* Apply default font style at the body tag so that all the children elements can inherit this style and we can always overwrite when necesssary. */
body{
    
    font-family: "Kaushan Script", serif;

}

/* To always make sure an image fits inside of its parents div apply these rules */
img{

    width: 100%;
    height: auto;
}


/* Gallary */
.container{
    width: 900px;
    margin: 100px auto;
    /* when you use an inline block to stack elements, we have to zero out the font size on the parent or the container element.  */
    font-size: 0;

}
.polaroid{
    width: 260px;
    margin: 20px;
    display: inline-block;
    /* whenever we want to absolute postion an element inside of another parent element, the parent element needs to be positioned as well ( declare it as NOT Static ) */
    position: relative;
}
/* descendent selector */
.polaroid img{
    /* Border shorthand is width, style, color of the border */
    border: 10px solid #ccc;
    border-bottom-width: 45px;
}
.polaroid p{
    font-size: 1rem;
    position: absolute;
    bottom: 14px;
    width: 260px; /* Polaroid 260 px + borders from both side ( 10px + 10 px ) = 280 px */
    text-align: center;
    color: #333;
}